<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>EmployeeManagementSystem</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEmployee</display-name>
		<servlet-name>AddEmployee</servlet-name>
		<servlet-class>AddEmployee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Employee</display-name>
		<servlet-name>Employee</servlet-name>
		<servlet-class>Employee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditEmployee</display-name>
		<servlet-name>EditEmployee</servlet-name>
		<servlet-class>EditEmployee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteEmployee</display-name>
		<servlet-name>DeleteEmployee</servlet-name>
		<servlet-class>DeleteEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEmployee</servlet-name>
		<url-pattern>/AddEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Employee</servlet-name>
		<url-pattern>/Employee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditEmployee</servlet-name>
		<url-pattern>/EditEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEmployee</servlet-name>
		<url-pattern>/DeleteEmployee</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>
